$primary-font-color: lightblue;
$border-width: 0.5em;
$border-style: dotted;
$border-color: lightgrey;
$border: $border-width $border-style $border-color;
$secondary-color: blue;
$something-new: magenta;
